/* styles.css */
@media screen and (max-width: 768px) {
    /* When screen is 768px or smaller */
    body.works_on_smartphone {
        flex-direction: column;
    }
    
    main {
        flex-direction: column;
    }
    
    article,
    aside {
        flex: 1;
        width: 100%;
    }
}
